 <div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='submitForm(signinForm.$valid) && signin()' novalidate>
    <input type='text' name = "user" ng-model='user.username' required>
    <p ng-show="signinForm.user.$invalid && submitted" class="help-block">Invalid Username</p>
    <input type="password" name = "password" ng-model='user.password' required>
    <p ng-show="signinForm.password.$invalid && submitted" class="help-block">Invalid Password</p>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
